# GCP Configuration
project_id_base    = "nyc-taxi-etl"
environment        = "dev"
instance_number    = "003"
bucket_suffix      = "003"
resource_type      = "gcs"
project_name       = "NYC Taxi Pipeline"
billing_account_id = "XXXX-XXXX-XXXX"
region             = "us-central1"
zone               = "us-central1-a"
organisation_id    = "xxxxxxxxxx"

# GitHub Configuration (for Workload Identity Federation)
github_repository = "myorg/nyc-taxi-etl"